name: Spacex Application Deployment Workflow

on: [push]

jobs:

  build-and-deploy:
    name: Build and deploy Gatsby site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.1
      
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      
      - name: Install Project Dependencies
        run: npm ci
      
      - name: Install Gatsby CLI
        run: npm install -g gatsby-cli@2.12.34
      
      - name: Build
        run: gatsby build
      
      - name: Verify build
        run: ls -la public
        
      - name: Archive the Build Folder i.e public folder
        uses: actions/upload-artifacts@v2.3.1
        with:
          name: spacexpublicfolder
          path: ./public/
        if: always()

  deployment:
    runs-on: ubuntu-latest
    needs: build-and-deploy
    steps:
      - name: Download Spacex Application Public Folder
        uses: action/download-artifact@v2.3.1
        id: spacexfolderdownload
        with:
          name: spacexpublicfolder
          path: .

      - name: Display Structure of downloaded files
        run: ls -R
        working-directory: .

      - name: Print the Downloaded Path
        run: echo ${{steps.spacexfolderdownload.outputs.download-path}}

